h1 {
    font-size : 3em;
    text-align: center;
}

#diaporama {
    width : 980px;
    height : 480px;
    top : 0px;
    margin-right : auto;
    margin-left : auto;
    position: relative;
}

#pause {
    display: none;
    position: relative;
    color:black;
    text-align: center;
}