h1 {
    font-size: 3em;
    text-align: center;
}

#slider {
    max-width: 980px;
    max-height: 480px;
    margin-top: 0px;
    width: auto;
    margin: auto;
    position: relative;
    color: #ffffff;
}

#left-arrow {
    position: absolute;
    top: 45%;
    left: 0;
    font-size: 3.5em;
    display: inline-block;
    height: 80px;
    overflow: hidden;
}

#right-arrow {
    position: absolute;
    top: 45%;
    right: 0;
    font-size: 3.5em;
    display: inline-block;
    height: 80px;
    overflow: hidden;
}

.icones-dark {
    color: rgba(85, 85, 85, .8);
}

#left-arrow,
#right-arrow {
    display: none;
}