h1 {
    font-size: 3em;
    text-align: center;
}

#slider {
    margin: auto;
    position: relative;
    color: #ffffff;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
}

#diapo {
    width: 100%;
    margin: auto;
    max-height: 300px;
}

#left-arrow {
    position: absolute;
    top: 35%;
    left: 0;
    font-size: 3.5em;
    display: inline-block;
    height: 80px;
    overflow: hidden;
}

#right-arrow {
    position: absolute;
    top: 35%;
    right: 0;
    font-size: 3.5em;
    display: inline-block;
    height: 80px;
    overflow: hidden;
}

.icones-dark {
    color: rgba(85, 85, 85, .8);
}

#left-arrow,
#right-arrow {
    display: none;
}

#main{
    display: flex;
    margin-top:50px;

}
#mapid {
    width: 70%;
    height: 430px;
}

#resa{
    display: none;
    margin-left:10px;
    margin-right:10px;
    height: 410px;
    border: 1px solid black;
    min-width:28%;
    padding: 10px 10px 10px 10px;
}

#formResa{
    text-align: center;
    display: none;
}
#signature {
    border: 1px solid black;
}

#sign{
        margin: auto;
        width : 250px;
        text-align: center;
}

#confirmation {
    display: none;
}